* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style-type: none;
}

body {
  background: url(./assets/Github.svg) no-repeat 70% top;
  background-color: #e5e5e5;
  font-family: "Roboto";
  height: 100vh;
}
